@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  background-color: #164e63;
}
h1 {
  font-family: "DM Sans", sans-serif;
}
h2 {
  font-family: "DM Sans", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulario {
  max-width: 650px;
  text-align: center;
  margin: 20px auto;
}
.formulario input,
form textarea {
  border: 0;
  outline: 0;
  padding: 0.8em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 16px;
  font-family: "open_sansregular";
  font-size: 16px;
  color: #424242;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
.formulario input:focus,
.formulario textarea:focus {
  color: #3cafe7;
  -moz-box-shadow: 0 0px 2px #3cafe7 !important;
  -webkit-box-shadow: 0 0px 2px #3cafe7 !important;
  box-shadow: 0 0px 2px #3cafe7 !important;
}
.formulario .btn-submit {
  color: #fff;
  background: #3cafe7;
  cursor: pointer;
  transition: 0.5s;
}
.formulario .btn-submit:hover {
  background-color: #424242;
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
.formulario textarea {
  height: 174px;
}
label {
  font-family: "DM Sans", sans-serif;
}
.metade {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}
.right {
  width: 50%;
}
.left {
  margin-right: 2%;
}
@media (max-width: 768px) {
  .metade {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
